[Unit]
Description=Falcon+ API Service
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/run/api.pid
ExecStartPre=/bin/rm -f /run/api.pid
ExecStart=/bin/falcon-api -c /etc/fpm/api.json
ExecStartPost=/bin/sh -c 'umask 022; pgrep -f falcon-api > /run/api.pid'
ExecStopPost=/bin/rm -f /run/api.pid
User=root
Group=root
KillMode=SIGTERM
Restart=on-failure
PrivateTmp=true
LimitNOFILE=64000
TimeoutStartSec=180
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=falcon-api

[Install]
WantedBy=multi-user.target
